@model CSFUF.Models.CustomerReg
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "DetailsForTD";
}
@*@{
        Layout = "~/Views/Shared/_RegistrationLayout.cshtml";
    }*@

<h2>ዝርዝር</h2>
<a title="Print Data" alt="Print Data" class="btn btn-success btn-sm"  onclick="window.print();" target="_blank" style="cursor:pointer;"> Print Data</a>

<h4>ምዝገባ</h4>
<dt>
    @Html.DisplayNameFor(model => model.Region)

</dt>
<dd>
    @Html.DisplayFor(model => model.Region)
</dd>

    <h5>@ViewBag.UserName</h5>
    <dt>
        @Html.DisplayName("Viewing as:  ")
        @Html.DisplayName("  " + User.Identity.GetUserName() + "!")
        @Html.DisplayName("Document Status:  ")
        @Html.DisplayName(Model.DocStatus + "!!")
    </dt>
<div>
    @*@using (Html.BeginForm("RegisterRole", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {


        }*@
    <div class="panel panel-default">
        <div class="panel-heading">Customer's Information</div>
        <div class="panel-body">
            <div class="active">
                <dl class="dl-horizontal">
                    <dt class="hover">
                        @Html.DisplayNameFor(model => model.ExpertName)
                    </dt>
                    <dd class="hover">
                        @Html.DisplayFor(model => model.ExpertName)
                    </dd>
                    <dt class="hover">
                        @Html.DisplayNameFor(model => model.Department)
                    </dt>

                    <dd class="hover">
                        @Html.DisplayFor(model => model.Department)
                    </dd>

                    <dt class="hover">
                        @Html.DisplayNameFor(model => model.FullName)
                    </dt>

                    <dd class="hover">
                        @Html.DisplayFor(model => model.FullName)
                    </dd>

                    <dt class="hover">
                        @Html.DisplayNameFor(model => model.OrgName)
                    </dt>

                    <dd class="hover">
                        @Html.DisplayFor(model => model.OrgName)
                    </dd>

                    <dt class="hover">
                        @Html.DisplayNameFor(model => model.OrgTIN)
                    </dt>

                    <dd class="hover">
                        @Html.DisplayFor(model => model.OrgTIN)
                    </dd>

                    <dt class="hover">
                        @Html.DisplayNameFor(model => model.DocCount)
                    </dt>

                    <dd class="hover">
                        @Html.DisplayFor(model => model.DocCount)
                    </dd>

                    <dt class="hover">
                        @Html.DisplayNameFor(model => model.Photo)
                    </dt>

                    <dd class="hover">
                        @Html.DisplayFor(model => model.Photo)
                    </dd>

                    <dt class="hover">
                        @Html.DisplayNameFor(model => model.Allowance)
                    </dt>

                    <dd class="hover">
                        @Html.DisplayFor(model => model.Allowance)
                    </dd>

                    <dt class="hover">
                        @Html.DisplayNameFor(model => model.PhoneNo)
                    </dt>

                    <dd class="hover">
                        @Html.DisplayFor(model => model.PhoneNo)
                    </dd>

                    <dt class="hover">
                        @Html.DisplayNameFor(model => model.GovIDNo)
                    </dt>

                    <dd class="hover">
                        @Html.DisplayFor(model => model.GovIDNo)
                    </dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt class="hover">
                        @Html.DisplayNameFor(model => model.PrivateIDNo)
                    </dt>

                    <dd class="hover">
                        @Html.DisplayFor(model => model.PrivateIDNo)
                    </dd>

                    <dt class="hover">
                        @Html.DisplayNameFor(model => model.MotherName)
                    </dt>

                    <dd class="hover">
                        @Html.DisplayFor(model => model.MotherName)
                    </dd>

                    <dt class="hover">
                        @Html.DisplayNameFor(model => model.BDate)
                    </dt>

                    <dd class="hover">
                        @Html.DisplayFor(model => model.BDate)
                    </dd>

                    <dt class="hover">
                        @Html.DisplayNameFor(model => model.DueDate)
                    </dt>

                    <dd class="hover">
                        @Html.DisplayFor(model => model.DueDate)
                    </dd>

                    <dt class="hover">
                        @Html.DisplayNameFor(model => model.DateRecieved)
                    </dt>

                    <dd class="hover">
                        @Html.DisplayFor(model => model.DateRecieved)
                    </dd>

                    <dt class="hover">
                        @Html.DisplayNameFor(model => model.DateTransfered)
                    </dt>

                    <dd class="hover">
                        @Html.DisplayFor(model => model.DateTransfered)
                    </dd>
                    <dt class="hover">
                        @Html.DisplayNameFor(model => model.ReasonForRequest)
                    </dt>

                    <dd class="hover">
                        @Html.DisplayFor(model => model.ReasonForRequest)
                    </dd>
                    <dt class="hover">
                        @Html.DisplayNameFor(model => model.Remark)
                    </dt>

                    <dd class="hover">
                        @Html.DisplayFor(model => model.Remark)
                    </dd>
                    <dt class="hover">
                        @Html.DisplayNameFor(model => model.Gender)
                    </dt>

                    <dd class="hover">
                        @Html.DisplayFor(model => model.Gender)
                    </dd>

                </dl>
            </div>
            </div>
    </div>
</div>
        <p>
            @Html.ActionLink("ወደ ዝርዝር ተመለስ", "Report") ||
            <br />
            @Html.ActionLink("ወደ ዋናው ገፅ ተመለስ", "IndexForTeamLeader")||
        </p>
        <style>
            .table-hover tr:hover {
                background-color: #eee;
                animation: highlight 0.2s ease-in-out;
            }

            .dl-horizontal {
                width: 30%;
                float: left;
                padding: 8px;
                margin-top: 15px;
                margin-right: 100px;
            }

            .hover {
                background-color: #ebebeb;
                border: 1px solid #ddd;
                border-radius: 5px;
                margin-bottom: 5px
            }

                .hover:hover {
                    background-color: #bebbbb;
                    border-color: #ccc;
                }

            .table td {
                color: #025db2;
            }

            .table th {
                color: #023767;
            }

            .active {
                border: 1px solid deepskyblue;
            }
        </style>
