@*@model IEnumerable<CSFUF.Models.CustomerReg>*@
@model PagedList.IPagedList<CSFUF.Models.CustomerReg>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Report";
}
@*@{
        Layout = "~/Views/Shared/_RegistrationLayout.cshtml";
    }*@


<h2>ሪፖርት</h2>

<p>
    @Html.ActionLink("Back to Main Page", "IndexForTeamLeader")
</p>
@using (Html.BeginForm("Report", "Customer", FormMethod.Get))
{
    <div class="rectangle">
        <h5 class="texts">በደንበኛ መ.ቁ ይፈልጉ</h5>
        @Html.TextBox("SearchID", ViewBag.CurrentFilter as string, new { @class = "form-control" })

        <label class="alert-danger">@ViewBag.Message1</label>
        <label class="alert-danger">@ViewBag.Message2</label>
        <h5 class="texts">በስልክ ቁጥር ይፈልጉ</h5>
        @Html.TextBox("SearchPhone", ViewBag.CurrentFilter as string, new { @class = "form form-control" })
        <input type="submit" value="Submit" class="btn btn-success btn-sm" />
        <br />
        @Html.ActionLink("Refresh", "Report")

    </div>
    <style>
        .table td {
            color: #025db2;
        }

        .table th {
            color: #023767;
        }

        .form {
            margin-bottom: 15px;
        }
        .rectangle:hover {
            background-color: #bebbbb;
            border-color: #ccc;
            border: 1px solid deepskyblue;
            box-shadow: 5px 5px 10px #002395;
        }
        .rectangle {
            width: 20%;
            float: left;
           
            padding: 8px;
            margin-bottom: 15px;
            margin-top: 15px;
            border-radius: 5px;
            background-color: #23297a;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
        }

        .texts {
            color: #ffffff;
        }

        .table {
            width: 150%;
            float: right;
            clear: left;
            margin-left: 15px;
        }

        .contain {
            display: flex;
            gap: 15px; /* Space between columns */
        }
    </style>
    <br />
    <br />
}
<div class="contain">
    <table class="table table-bordered table-hover table-condensed">
        <tr>
            <th>
                @Html.ActionLink("የደንበኛ ሙሉ ስም", "Report", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("የተመዘገበበት ቀን", "Report", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
           
            <th>
                የጡረተኛ መ/ቁ
            </th>
           
            <th>
                የተላለፈበት ቀን
            </th>
            <th>
                የዶክመንት ሁኔታ
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DateRecieved)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PrivateIDNo)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DateTransfered)
                </td>

                <td>
                    <span class="@(item.DocStatus == "Pending" ? "text-danger" : item.DocStatus == "Completed" ? "text-success" : "")">
                        @Html.DisplayFor(modelItem => item.DocStatus)
                    </span>
                </td>
                <td>
                    @* @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@
                    @Html.ActionLink("ዝርዝር", "DetailsForTD", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" }) |
                    @*  @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                    @*  @Html.ActionLink("Send To", "SendTo", new { id = item.Id })*@
                </td>
            </tr>
        }

    </table>
</div>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Report",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))