@model CSFUF.Models.ApproverTask

@{
    ViewBag.Title = "Details";
}
@*@{
        Layout = "~/Views/Shared/_ApproverLayoutPage1.cshtml";
    }*@
<h3>ዝርዝር መግለጫ</h3>
<a title="Print Data" alt="Print Data" class="btn btn-success btn-sm" onclick="window.print();" target="_blank" style="cursor:pointer;"> Print Data</a>

<div><h4> አፕሮቨር </h4></div>
<div>

    <hr />
    <div class="panel panel-default">
        <div class="panel-heading">Customer's Information</div>
        <div class="panel-body">
            <div class="active">
                <dl class="dl-horizontal">
                    <dt class="hover">
                        @Html.DisplayNameFor(model => model.FullName)
                    </dt>

                    <dd class="hover">
                        @Html.DisplayFor(model => model.FullName)
                    </dd>

                    <dt class="hover">
                        @Html.DisplayNameFor(model => model.OrgName)
                    </dt>

                    <dd class="hover">
                        @Html.DisplayFor(model => model.OrgName)
                    </dd>

                    <dt class="hover">
                        @Html.DisplayNameFor(model => model.ArchiveNo)
                    </dt>

                    <dd class="hover">
                        @Html.DisplayFor(model => model.ArchiveNo)
                    </dd>

                    <dt class="hover">
                        @Html.DisplayNameFor(model => model.OrgTIN)
                    </dt>

                    <dd class="hover">
                        @Html.DisplayFor(model => model.OrgTIN)
                    </dd>

                    <dt class="hover">
                        class="hover">
                        @Html.DisplayNameFor(model => model.DocCount)
                    </dt>

                    <dd class="hover">
                        @Html.DisplayFor(model => model.DocCount)
                    </dd>

                    <dt class="hover">
                        @Html.DisplayNameFor(model => model.PhoneNo)
                    </dt>

                    <dd class="hover">
                        @Html.DisplayFor(model => model.PhoneNo)
                    </dd>

                    <dt class="hover">
                        @Html.DisplayNameFor(model => model.GovIDNo)
                    </dt>

                    <dd class="hover">
                        @Html.DisplayFor(model => model.GovIDNo)
                    </dd>

                    <dt class="hover">
                        @Html.DisplayNameFor(model => model.PrivateIDNo)
                    </dt>

                    <dd class="hover">
                        @Html.DisplayFor(model => model.PrivateIDNo)
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt class="hover">
                        @Html.DisplayNameFor(model => model.MotherName)
                    </dt>

                    <dd class="hover">
                        @Html.DisplayFor(model => model.MotherName)
                    </dd>

                    <dt class="hover">
                        @Html.DisplayNameFor(model => model.BDate)
                    </dt>

                    <dd class="hover">
                        @Html.DisplayFor(model => model.BDate)
                    </dd>

                    <dt class="hover">
                        @Html.DisplayNameFor(model => model.DueDate)
                    </dt>

                    <dd class="hover">
                        @Html.DisplayFor(model => model.DueDate)
                    </dd>

                    <dt class="hover">
                        @Html.DisplayNameFor(model => model.DateRecieved)
                    </dt>

                    <dd class="hover">
                        @Html.DisplayFor(model => model.DateRecieved)
                    </dd>

                    <dt class="hover">
                        @Html.DisplayNameFor(model => model.DateTransfered)
                    </dt>

                    <dd class="hover">
                        @Html.DisplayFor(model => model.DateTransfered)
                    </dd>

                    <dt class="hover">
                        @Html.DisplayNameFor(model => model.Gender)
                    </dt>

                    <dd class="hover">
                        @Html.DisplayFor(model => model.Gender)
                    </dd>

                    <dt class="hover">
                        @Html.DisplayNameFor(model => model.DocStatus)
                    </dt>

                    <dd class="hover">
                        @Html.DisplayFor(model => model.DocStatus)
                    </dd>

                    <dt class="hover">
                        @Html.DisplayNameFor(model => model.AssignedExpertNames)
                    </dt>

                    <dd class="hover">
                        @Html.DisplayFor(model => model.AssignedExpertNames)
                    </dd>

                    <dt class="hover">
                        @Html.DisplayNameFor(model => model.ApprovalStatus)
                    </dt>

                    <dd class="hover">
                        @Html.DisplayFor(model => model.ApprovalStatus)
                    </dd>

                    <dt class="hover">
                        @Html.DisplayNameFor(model => model.AssignedApprover)
                    </dt>

                    <dd class="hover">
                        @Html.DisplayFor(model => model.AssignedApprover)
                    </dd>

                </dl>
            </div>
        </div>
    </div>
</div>
<p>
    @if (User.IsInRole("BranchTeamLeader"))
    {
        @Html.ActionLink("Back to List", "TeBeApprovedListsForBT")
    }
    @if (User.IsInRole("Approver"))
    {
    @Html.ActionLink("Back to List", "TeBeApprovedLists")
    }
</p>
<style>
    .table-hover tr:hover {
        background-color: #eee;
        animation: highlight 0.2s ease-in-out;
    }

    .dl-horizontal {
        width: 30%;
        float: left;
        padding: 8px;
        margin-top: 15px;
        margin-right: 100px;
    }

    .hover {
        background-color: #ebebeb;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-bottom: 5px
    }

        .hover:hover {
            background-color: #bebbbb;
            border-color: #ccc;
        }

    .table td {
        color: #025db2;
    }

    .table th {
        color: #023767;
    }

    .active {
        border: 1px solid deepskyblue;
    }
</style>