@model IEnumerable<CSFUF.Models.Approver>

@{
    ViewBag.Title = "Index";
}

<h2>Registered Approvers</h2>

<p>
    @Html.ActionLink("Create New", "CreateApprover")
</p>
<table class="table table-bordered table-hover table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApproverName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApproverName)
            </td>
            <td>
                @Html.ActionLink("አስተካክል", "ApproverEdit", new { id = item.Id }, new { @class = "btn btn-success btn-sm" }) |
                @Html.ActionLink("ዝርዝር", "ApproverDetails", new { id = item.Id }, new { @class = "btn btn-success btn-sm" }) |
                @Html.ActionLink("አጥፋ", "ApproverDelete", new { id = item.Id }, new { @class = "btn btn-success btn-sm" })
            </td>
        </tr>
    }

</table>
