@model IEnumerable<CSFUF.Models.Decision>
@{
    ViewBag.Title = "Index";
}
<div class="ttext"><h2 class="texts">ዉሳኔ ክፍል</h2></div>
<div class="ttext"><h4 class="texts">ከመዋጮ የመጡ ፋይሎች</h4></div>

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<div>
   
    <hr />
</div>
@using (Html.BeginForm("Index", "Decision", FormMethod.Get))
{<div class="rectangle">
    <h5>የጡረተኛ መ/ቁ ያስገቡ ፡</h5>
    @Html.TextBox("ExpNameToSearch", null, "--መ.ቁ ያስገቡ--", htmlAttributes: new { @class = "form form-control" })
    <label class="alert-danger">@ViewBag.Message</label>
    <input type="submit" value="ይፈልጉ" class="btn btn-success btn-sm" /><br/><br />
    @Html.ActionLink("Refresh🔄", "Index", "Decision")
</div>
}
<style>
    .rectangle:hover {
        background-color: #bebbbb;
        border-color: #ccc;
        border: 1px solid deepskyblue;
        box-shadow: 5px 5px 10px #002395;
    }

    .rectangle2:hover {
        background-color: #bebbbb;
        border-color: #ccc;
        border: 1px solid deepskyblue;
        box-shadow: 5px 5px 10px #002395;
    }
    .rectangle {
        width: 25%;
        float: left;
       
        padding: 18px;
        margin-bottom: 15px;
        margin-right: 15px;
        margin-top: 15px;
        border-radius: 5px;
        background-color: lightgray;
        box-shadow: 5px 5px 10px #23297a;
    }
    .form {
        margin-top: 5px;
        margin-bottom: 15px;
    }
</style>
@using (Html.BeginForm("Index", "Decision", FormMethod.Post))
{
<div class="rectangle2">
    <h5>ወይም በቀን ፡ </h5>

    <span>ከ ዕለት : </span><span><input type="date" class="form-control" name="Start" required="required" /></span>
    <span>እስከ ዕለት : </span> <span><input type="date" class="form form-control" name="End" required="required" /></span>
    <input type="submit" value="መረጃውን ይፈልጉ" class="btn btn-success btn-sm" />
    <label class="alert-danger">@ViewBag.Message2</label><br />

</div>
    <style>
        
        .form {
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .ttext {
            border-radius: 5px;
            background-color: #23297a;
            width: 15%;
            box-shadow: 5px 5px 10px #23297a;
        }

        .texts {
            color: whitesmoke;
        }

        .table td {
            color: #025db2;
        }

        .table th {
            color: #023767;
        }

        .table {
            width: 150%;
            float: right;
            clear: left;
            margin-left: 15px;
        }

        .rectangle2 {
            width: 25%;
            float: inline-start;
           
            padding: 3px;
            margin-bottom: 15px;
            margin-right: 15px;
            margin-top: 15px;
            border-radius: 5px;
            background-color: lightgray;
            box-shadow: 5px 5px 10px #23297a;
        }
    </style>
    <table class="table table-bordered table-hover table-condensed">
        <tr>
            <th>
                @Html.DisplayName("የደንበኛ ሙሉ ስም")
            </th>
            <th>
                @Html.DisplayName("የድርጅት ስም")
            </th>

            <th>
                @Html.DisplayName("የጡረተኛ የግ/መ/ቁ")
            </th>


            <th>
                @Html.DisplayName("የተረከበበት ቀን")
            </th>
            <th>
                @Html.DisplayName("የተመደበው ባለሞያ ስም")
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrgName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PrivateIDNo)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DateRecieved)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignedExpertNames)
                </td>

                <td>
                    @if (item.AssignedExpertNames == "አልተመደበም")
                    {
                        @Html.ActionLink("ባለሙያ መድብ", "AssignExp", new { id = item.Id }, new { @class = "btn btn-success btn-sm" })
                    }
                    |
                    @Html.ActionLink("ዝርዝር", "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" }) |
                </td>
            </tr>
        }
    </table>
}
