@model CSFUF.Models.DecisionDistro2

@{
    ViewBag.Title = "AssignApprover";
}
@*@{
    Layout = "~/Views/Shared/_DecisionLayoutPage1.cshtml";
}*@
<h2>አፕሩቨር መድብ</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="panel panel-body">
    <h4>ይምረጡ</h4>
    <hr />
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.FullName)
    @Html.HiddenFor(model => model.OrgName)
    @Html.HiddenFor(model => model.ArchiveNo)
    @Html.HiddenFor(model => model.OrgTIN)
    @Html.HiddenFor(model => model.DocCount)
    @Html.HiddenFor(model => model.Allowance)
    @Html.HiddenFor(model => model.GovIDNo)
    @Html.HiddenFor(model => model.PrivateIDNo)
    @Html.HiddenFor(model => model.MotherName)
    @Html.HiddenFor(model => model.BDate)
    @Html.HiddenFor(model => model.DueDate)
    @Html.HiddenFor(model => model.DateRecieved)
    @Html.HiddenFor(model => model.DateTransfered)
    @Html.HiddenFor(model => model.Gender)
    @Html.HiddenFor(model => model.DocStatus)
    @Html.HiddenFor(model => model.ExpertNames)
    @Html.HiddenFor(model => model.AssignedExpertNames)
    @Html.HiddenFor(model => model.PhoneNo)
    @Html.HiddenFor(model => model.Region)



    <div class="form-group">
        @Html.LabelFor(model => model.AssinedApprover, new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.DropDownListFor(model => model.AssinedApprover, new SelectList(ViewBag.ListNames), "-- ባለሙያውን ይምረጡ --", new { @class = " form-control ", @required = "required" })
            @Html.ValidationMessageFor(model => model.AssinedApprover)
        </div>
    </div>
    <hr />
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="መድብ" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Distro2")
</div>
