@model CSFUF.Models.DecisionDistro2

@{
    ViewBag.Title = "Edit2";
}
@*@{
    Layout = "~/Views/Shared/_DecisionLayoutPage1.cshtml";
}*@
<h2>ማስተካከያ</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-body">
        <h4>Distribution To Approver</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.FullName, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.FullName, new { @readonly = "readonly", @class = " form-control " })
                @Html.ValidationMessageFor(model => model.FullName)
            </div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.OrgName, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.OrgName, new { @readonly = "readonly", @class = " form-control " })
                @Html.ValidationMessageFor(model => model.OrgName)
            </div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.ArchiveNo, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.ArchiveNo, new { @readonly = "readonly", @class = " form-control " })
                @Html.ValidationMessageFor(model => model.ArchiveNo)
            </div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.OrgTIN, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.OrgTIN, new { @readonly = "readonly", @class = " form-control " })
                @Html.ValidationMessageFor(model => model.OrgTIN)
            </div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.DocCount, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.DocCount, new { @readonly = "readonly", @class = " form-control " })
                @Html.ValidationMessageFor(model => model.DocCount)
            </div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.Allowance, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Allowance, new { @readonly = "readonly", @class = " form-control " })
                @Html.ValidationMessageFor(model => model.Allowance)
            </div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNo, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.PhoneNo, new { @readonly = "readonly", @class = " form-control " })
                @Html.ValidationMessageFor(model => model.PhoneNo)
            </div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.GovIDNo, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.GovIDNo, new { @readonly = "readonly", @class = " form-control " })
                @Html.ValidationMessageFor(model => model.GovIDNo)
            </div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.PrivateIDNo, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.PrivateIDNo, new { @readonly = "readonly", @class = " form-control " })
                @Html.ValidationMessageFor(model => model.PrivateIDNo)
            </div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.MotherName, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.MotherName, new { @readonly = "readonly", @class = " form-control " })
                @Html.ValidationMessageFor(model => model.MotherName)
            </div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.BDate, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.BDate, new { @readonly = "readonly", @class = " form-control " })
                @Html.ValidationMessageFor(model => model.BDate)
            </div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.DueDate, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.DueDate, new { @readonly = "readonly", @class = " form-control " })
                @Html.ValidationMessageFor(model => model.DueDate)
            </div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.DateRecieved, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.DateRecieved, new { @readonly = "readonly", @class = " form-control " })
                @Html.ValidationMessageFor(model => model.DateRecieved)
            </div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.DateTransfered, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.DateTransfered, new { @readonly = "readonly", @class = " form-control " })
                @Html.ValidationMessageFor(model => model.DateTransfered)
            </div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.Gender, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Gender, new { @readonly = "readonly", @class = " form-control " })
                @Html.ValidationMessageFor(model => model.Gender)
            </div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.DocStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.DocStatus, new SelectList(ViewBag.list1), "--Status--", new { @readonly = "readonly", @class = " form-control " })
                @Html.ValidationMessageFor(model => model.DocStatus)
            </div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.ExpertNames, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.ExpertNames, new { @readonly = "readonly", @class = " form-control " })
                @Html.ValidationMessageFor(model => model.ExpertNames)
            </div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.AssignedExpertNames, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.AssignedExpertNames, new { @readonly = "readonly", @class = " form-control " })
                @Html.ValidationMessageFor(model => model.AssignedExpertNames)
            </div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.AssinedApprover, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.AssinedApprover, new { @readonly = "readonly", @class = " form-control " })
                @Html.ValidationMessageFor(model => model.AssinedApprover)
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save and Assign" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Distro2")
</div>
